/* Aquí van los estilos globales */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-3xl font-semibold;
  }
}

@theme inline {
  --color-primary: #227d53;
  --color-primary-light: #36c985;
  --color-secondary: #13452d;
  --color-background: #fff;
  --color-background-layout: #f7f7f7;
}
